{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Connexion {% endblock %}

{% block body %}
    <div class="container-md">
        <div class="row">
            <form method="post" action="{{ path('app_login') }}">
                <div class="form-group">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% endif %}

                    <h1 class="mb-3 font-weight-normal">Connectez-vous</h1>
                    <div class="col-md-8 form-group">
                        <label for="inputEmail">Email</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                               class="form-control" required autofocus>
                    </div>
                    <div class="col-md-8 form-group">
                        <label for="inputPassword">Mot de passe</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" required>
                    </div>
                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >

                    {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                    #}

                    <button class="btn btn-lg btn-warning m-2" type="submit">
                        Connexion
                    </button>
                    <a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié...</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
