<h1>Bonjour! Merci de confirmer votre Email!</h1>

<p>
    Merci de confirmer votre adresse Email en cliquant sur le lien suivant: <br><br>
    <a href="{{ signedUrl|raw }}">Je confirme mon adresse Email</a>.
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cordialement,
    L'équipe LocAuto
</p>
