{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Modifier mon compte {% endblock %}

{% block body %}
    <div class="container-md">
        <div class="row">
            <div class="col-md-10">
                <h1>Modifier vos informations personnelles</h1>
                {{ form_start(modificationForm) }}
                <div class="controls">
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                                {{ form_row(modificationForm.adresse, {'label': 'Adresse :', 'attr': { class: 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-md-2 mb-3">
                            <div class="form-group">
                                {{ form_row(modificationForm.codePostal, {'label': 'Code postal :', 'attr': { class: 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                {{ form_row(modificationForm.ville, {'label': 'Ville :', 'attr': { class: 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div class="form-group">
                                {{ form_row(modificationForm.telephone, {'label': 'Téléphone :', 'attr': { class: 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="row">
                            <h3>Modifier votre mot de passse</h3>
                            <div class="col-md-6 mb-3">
                                <div class="form-group">
                                    {{ form_row(modificationForm.plainPassword, {
                                        label: 'Mot de passe :',
                                        'attr': {'placeholder': 'Votre nouveau mot de passe...', class: 'form-control'}
                                    }) }}
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="form-group">
                                    {{ form_row(modificationForm.confirm_password, { 'label': 'Confirmation du mot de passe', 'attr': {'placeholder': 'Répétez votre nouveau mot de passe...', class: 'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group m-3">
                            <button type="submit" class="btn btn-warning">Modifier</button>
                        </div>
                    </div>
                </div>
                {{ form_end(modificationForm) }}
            </div>
        </div>
    </div>
{% endblock %}