{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Inscription {% endblock %}

{% block body %}
    <div class="container-md">
        <div class="row">
            <div class="col-md-10">

                <h1>Inscription</h1>
                {{ form_start(registrationForm) }}
                <div class="controls">
                    <div class="row">
                        <div class="col-md-2 mb-3">
                            <div class="form-group">
                                {{ form_row(registrationForm.civilite, {'label': 'Civilité :', 'attr': { class: 'form-select'}}) }}
                            </div>
                        </div>
                        <div class="col-md-5 mb-3">
                            <div class="form-group">
                                {{ form_row(registrationForm.nom, {'label': 'Nom :', 'attr': {'placeholder': 'Votre nom...', class: 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-md-5 mb-3">
                            <div class="form-group">
                                {{ form_row(registrationForm.prenom, {'label': 'Prénom', 'attr': {'placeholder': 'Votre prénom...', class: 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                                {{ form_row(registrationForm.email, { 'label': 'Adresse Email', 'attr': {'placeholder': 'Votre adresse Email...', class: 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                {{ form_row(registrationForm.plainPassword, {
                                    label: 'Mot de passe :',
                                    'attr': {'placeholder': 'Votre mot de passe...', class: 'form-control'}
                                }) }}
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                {{ form_row(registrationForm.confirm_password, { 'label': 'Confirmation du mot de passe', 'attr': {'placeholder': 'Répétez votre mot de passe...', class: 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                                {{ form_row(registrationForm.adresse, {'label': 'Adresse :', 'attr': {'placeholder': 'Votre adresse...', class: 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-md-2 mb-3">
                            <div class="form-group">
                                {{ form_row(registrationForm.codePostal, {'label': 'Code postal :', 'attr': {'placeholder': 'Votre code postal...', class: 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                {{ form_row(registrationForm.ville, {'label': 'Ville :', 'attr': {'placeholder': 'Votre ville...', class: 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div class="form-group">
                                {{ form_row(registrationForm.telephone, {'label': 'Téléphone :', 'attr': {'placeholder': 'Votre numéro de téléphone...', class: 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                {{ form_row(registrationForm.numeroPermis, {'label': 'Numéro de permis de conduire :', 'attr': {'placeholder': 'Votre numéro de permis de conduire...', class: 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div class="form-group">
                                {{ form_row(registrationForm.dateObtentionPermis, {'label': 'Date d\'obtention du permis de conduire :', 'attr': {class: 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {{ form_row(registrationForm.agreeTerms, {'label': 'J\'accepte les conditions d\'utilisation'}) }}

                    {# <div class="form-group m-2">
                        <div class="g-recaptcha" data-sitekey="6LecucUaAAAAABSmT6p_fe9bQik6TbLGlL4kAABD"
                             data-callback="verifyRecaptchaCallback"
                             data-expired-callback="expiredRecaptchaCallback"></div>
                        <input class="form-control d-none" data-recaptcha="true" required
                               data-error="Merci de completer le Captcha">
                        <div class="help-block with-errors"></div>
                    </div> #}
                    <div class="form-group m-3">
                        <button type="submit" class="btn btn-warning">Enregistrer</button>

                    </div>
                </div>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>

{% endblock %}