{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Email envoyé{% endblock %}

{% block body %}
    <p>
        Un Email vient de vous être envoyer. Il contient un lien sur lequle il vous suffit de cliquer pour réinitialiser voytre mot de passe.
        Ce lien expire dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous n'avez pas reçu d'Email merci de vérifier dans votre dossier Indésirable ou <a href="{{ path('app_forgot_password_request') }}">essayer à nouveau</a>.</p>
{% endblock %}
