{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Réinitialiser votre mot de passe{% endblock %}

{% block body %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <h1>Réinitialiser votre mot de passe</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                Rentrer votre adresse Email et nous allons vous envoyer un lien pour réinnitialiser votre mot de passe.
            </small>
        </div>

        <button class="btn btn-primary">Envoi de l'Email</button>
    {{ form_end(requestForm) }}
{% endblock %}