{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Réinitialiser votre mot de passe{% endblock %}

{% block body %}
    <h1>Réinitialiser votre mot de passe</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-warning">Envoyer</button>
    {{ form_end(resetForm) }}
{% endblock %}
