{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Gestion carburants
{% endblock %}

{% block body %}
    <h1>Gestions des carburants</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a href="{{ path('admin_carburant_create') }}" class="btn btn-warning mb-3">Créer un nouveau carburant</a>
            </div>
        </div>
        <div class="row">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Libellé</th>
                    <th scope="col">Prix au litre</th>
                    <th scope="col">Créé le</th>
                    <th scope="col">Créé par</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for carburant in carburants %}
                    <tr>
                        <th scope="row">{{ carburant.id }}</th>
                        <td>{{ carburant.libelle }}</td>
                        <td>{{ carburant.prix }}€</td>
                        <td>{{ carburant.createdAt | format_datetime('short', 'short', locale='fr') }}</td>
                        <td>{{ carburant.createdBy }}</td>
                        <td><a href="{{ path('admin_carburant_edit', {'id' : carburant.id}) }}"><i class="bi bi-pencil-fill"></i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

