{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Gestion catégories
{% endblock %}

{% block body %}
    <h1>Gestions des catégories</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a href="{{ path('admin_categorie_create') }}" class="btn btn-warning mb-3">Créer une nouvelle catégorie</a>
            </div>
        </div>
        <div class="row">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Type</th>
                    <th scope="col">Libellé</th>
                    <th scope="col">Code</th>
                    <th scope="col">Durée min du permis</th>
                    <th scope="col">Créé le</th>
                    <th scope="col">Créé par</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for categorie in categories %}
                    <tr>
                        <th scope="row">{{ categorie.id }}</th>
                        <td>{{ categorie.typeId.libelle }}</td>
                        <td>{{ categorie.libelle }}</td>
                        <td>{{ categorie.code }}</td>
                        <td>{{ categorie.dureeMiniPermis }} ans</td>
                        <td>{{ categorie.createdAt | format_datetime('short', 'short', locale='fr') }}</td>
                        <td>{{ categorie.createdBy }}</td>
                        <td><a href="{{ path('admin_categorie_edit', {'id' : categorie.id}) }}"><i class="bi bi-pencil-fill"></i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

