{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Gestion Types
{% endblock %}

{% block body %}
    <div class="container-md">
        <div class="row">
            <div class="col-md-10">

                <h1>Types de véhicule</h1>
                {{ form_start(typeForm) }}
                <div class="controls">
                    <div class="row">
                        <div class="col-md-5 mb-3">
                            <div class="form-group">
                                {{ form_row(typeForm.libelle, {'label': 'Libellé :', 'attr': { class: 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% if editMode %}
                        <p>Ce type de vehicule a été créé par {{ type.createdBy }}, le {{ type.createdAt | format_datetime('short', 'short', locale='fr') }}</p>
                    {% endif %}
                    <div class="form-group m-3">
                        <button type="submit" class="btn btn-warning">
                            {% if editMode %}
                                Enregistrer les modifications
                            {% else %}
                                Ajouter le type de véhicule
                            {% endif %}
                        </button>
                    </div>
                </div>
                {{ form_end(typeForm) }}
            </div>
        </div>
    </div>
{% endblock %}

