{% extends 'base.html.twig' %}
{% block title %}
    {{ parent() }} | Gestion utilisateurs
{% endblock %}

{% block body %}
    <div class="container-md">
        <div class="row">
            <div class="col-md-10">

                <h1>Utilisateur</h1>
                {{ form_start(userForm) }}
                <div class="controls">
                    <div class="row">
                        <div class="col-md-2 mb-3">
                            <div class="form-group">
                                {{ form_row(userForm.civilite, {'label': 'Civilité :', 'attr': { class: 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-md-5 mb-3">
                            <div class="form-group">
                                {{ form_row(userForm.nom, {'label': 'Nom :', 'attr': {'placeholder': 'Votre nom...', class: 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-md-5 mb-3">
                            <div class="form-group">
                                {{ form_row(userForm.prenom, {'label': 'Prénom', 'attr': {'placeholder': 'Votre prénom...', class: 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-md-10 mb-3">
                            <div class="form-group">
                                {{ form_row(userForm.email, { 'label': 'Adresse Email', 'attr': {'placeholder': 'Votre adresse Email...', class: 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-md-2 mb-3">
                            <div class="form-group">
                                {{ form_row(userForm.roles, {'label': 'Rôle :', 'attr': {class: 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                {{ form_row(userForm.plainPassword, {
                                    label: 'Mot de passe :',
                                    'attr': {'placeholder': 'Votre mot de passe...', class: 'form-control'}
                                }) }}
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                {{ form_row(userForm.confirm_password, { 'label': 'Confirmation du mot de passe', 'attr': {'placeholder': 'Répétez votre mot de passe...', class: 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                                {{ form_row(userForm.adresse, {'label': 'Adresse :', 'attr': {'placeholder': 'Votre adresse...', class: 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-md-2 mb-3">
                            <div class="form-group">
                                {{ form_row(userForm.codePostal, {'label': 'Code postal :', 'attr': {'placeholder': 'Votre code postal...', class: 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                {{ form_row(userForm.ville, {'label': 'Ville :', 'attr': {'placeholder': 'Votre ville...', class: 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div class="form-group">
                                {{ form_row(userForm.telephone, {'label': 'Téléphone :', 'attr': {'placeholder': 'Votre numéro de téléphone...', class: 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                {{ form_row(userForm.numeroPermis, {'label': 'Numéro de permis de conduire :', 'attr': {'placeholder': 'Votre numéro de permis de conduire...', class: 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div class="form-group">
                                {{ form_row(userForm.dateObtentionPermis, {'label': 'Date d\'obtention du permis de conduire :', 'attr': {class: 'form-control'}}) }}
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    {% if editMode %}
                        <p>Cet utilisateur a été créé par {{ user.createdBy }}, le {{ user.createdAt | format_datetime('short', 'short', locale='fr') }}</p>
                    {% endif %}
                    <div class="form-group m-3">
                        <button type="submit" class="btn btn-warning">
                            {% if editMode %}
                                Enregistrer les modifications
                            {% else %}
                                Ajouter l'utilisateur
                            {% endif %}
                        </button>
                    </div>
                </div>
                {{ form_end(userForm) }}
            </div>
        </div>
    </div>
{% endblock %}



