{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Gestion Categories
{% endblock %}

{% block body %}
    <div class="container-md">
        <div class="row">
            <div class="col-md-10">

                <h1>Categories de véhicule</h1>
                {{ form_start(categorieForm) }}
                <div class="controls">
                    <div class="row">
                        <div class="col-md-5 mb-3">
                            <div class="form-group">
                                {{ form_row(categorieForm.typeId, {'label': 'Type de véhicule :', 'attr': { class: 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-md-5 mb-3">
                            <div class="form-group">
                                {{ form_row(categorieForm.code, {'label': 'Code :', 'attr': { class: 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-md-5 mb-3">
                            <div class="form-group">
                                {{ form_row(categorieForm.libelle, {'label': 'Libellé :', 'attr': { class: 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <div class="form-group">
                                {{ form_row(categorieForm.dureeMiniPermis, {'label': 'Durée mini permis :', 'attr': {class: 'form-control'}}) }}
                            </div>
                        </div>


                    </div>
                </div>
                <div class="row">
                    {% if editMode %}
                        <p>Cette catégorie a été créé par {{ categorie.createdBy }}, le {{ categorie.createdAt | format_datetime('short', 'short', locale='fr') }}</p>
                    {% endif %}
                    <div class="form-group m-3">
                        <button type="submit" class="btn btn-warning">
                            {% if editMode %}
                                Enregistrer les modifications
                            {% else %}
                                Ajouter la catégorie de véhicule
                            {% endif %}
                        </button>
                    </div>
                </div>
                {{ form_end(categorieForm) }}
            </div>
        </div>
    </div>
{% endblock %}

