{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Gestion Carburants
{% endblock %}

{% block body %}
    <div class="container-md">
        <div class="row">
            <div class="col-md-10">

                <h1>Carburants</h1>
                {{ form_start(carburantForm) }}
                <div class="controls">
                    <div class="row">
                        <div class="col-md-5 mb-3">
                            <div class="form-group">
                                {{ form_row(carburantForm.libelle, {'label': 'Libellé :', 'attr': { class: 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <div class="form-group">
                                {{ form_row(carburantForm.prix, {'label': 'Prix au litre :', 'attr': {class: 'form-control'}}) }}
                            </div>
                        </div>


                    </div>
                </div>
                <div class="row">
                    {% if editMode %}
                        <p>Ce carburant a été créé par {{ carburant.createdBy }}, le {{ carburant.createdAt | format_datetime('short', 'short', locale='fr') }}</p>
                    {% endif %}
                    <div class="form-group m-3">
                        <button type="submit" class="btn btn-warning">
                            {% if editMode %}
                                Enregistrer les modifications
                            {% else %}
                                Ajouter le carburant
                            {% endif %}
                        </button>
                    </div>
                </div>
                {{ form_end(carburantForm) }}
            </div>
        </div>
    </div>
{% endblock %}



