{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Gestion Locations
{% endblock %}

{% block body %}
    <div class="container-md">
        <div class="row">
            <div class="col-md-10">

                <h1>Locations</h1>
                {{ form_start(locationForm) }}
                <div class="controls">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                {{ form_row(locationForm.userId, {'label': 'Client :', 'attr': { class: 'form-select'}}) }}
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div class="form-group">
                                {{ form_row(locationForm.vehiculeId, {'label': 'Véhicule :', 'attr': {class: 'form-select'}}) }}
                            </div>
                        </div>
                        <div class="col-md-5 mb-3">
                            <div class="form-group">
                                {{ form_row(locationForm.dateDebutLocPrev, {'label': 'Date et heure début de loc prévu :', 'attr': {class: 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-md-5 mb-3">
                            <div class="form-group">
                                {{ form_row(locationForm.dateFinLocPrev, {'label': 'Date et heure fin de loc prévu :', 'attr': {class: 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <div class="form-group">
                                {{ form_row(locationForm.typeLoc, {'label': 'Type de loc :', 'attr': {class: 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <div class="form-group">
                                {{ form_row(locationForm.assurance, {'label': 'Assurance :', 'attr': {class: 'form-check-input m-1'}}) }}
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div class="form-group">
                                {{ form_row(locationForm.kilometrageInit, {'label': 'Kilometrage initial :', 'attr': {class: 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-md-5 mb-3">
                            <div class="form-group">
                                {{ form_row(locationForm.dateDebutLocReel, {'label': 'Date et heure début de loc réel :', 'attr': {class: 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-md-5 mb-3">
                            <div class="form-group">
                                {{ form_row(locationForm.dateFinLocReel, {'label': 'Date et heure fin de loc réel :', 'attr': {class: 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div class="form-group">
                                {{ form_row(locationForm.kilometrageFinal, {'label': 'Kilométrage final :', 'attr': {class: 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div class="form-group">
                                {{ form_row(locationForm.volumeCarburantFinal, {'label': 'Volume carburant final :', 'attr': {class: 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-md-5 mb-3">
                            <div class="form-group">
                                {{ form_row(locationForm.montantRetenuCaution, {'label': 'Montant retenu caution :', 'attr': {class: 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-md-5 mb-3">
                            <div class="form-group">
                                {{ form_row(locationForm.raisonRetenuCaution, {'label': 'Raison retenu caution :', 'attr': {class: 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-md-10 mb-3">
                            <div class="form-group">
                                {{ form_row(locationForm.remarque, {'label': 'Remarque :', 'attr': {class: 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% if editMode %}
                     <p>Cet location a été créé par {{ location.createdBy }}, le {{ location.createdAt | format_datetime('short', 'short', locale='fr') }}</p>
                    {% endif %}
                    <div class="form-group col-md-4 m-3">
                        <button type="submit" class="btn btn-warning">
                            {% if editMode %}
                                Enregistrer les modifications
                            {% else %}
                                Créer la location
                            {% endif %}
                        </button>
                    </div>
                    <div class="col-md-4 m-3">
                        {% if editMode and location.dateFinLocReel %}
                            <a href="{{ path('admin_location_facture', {'id' : location.id}) }}" class="btn btn-danger">Envoyer la facture</a>
                        {% endif %}
                    </div>
                </div>
                {{ form_end(locationForm) }}
            </div>
        </div>
    </div>
{% endblock %}

