{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Gestion Véhicules
{% endblock %}

{% block body %}
    <div class="container-md">
        <div class="row">
            <div class="col-md-10">

                <h1>Véhicules</h1>
                {{ form_start(vehiculeForm) }}
                <div class="controls">
                    <div class="row">
                        <div class="col-md-5 mb-3">
                            <div class="form-group">
                                {{ form_row(vehiculeForm.agenceId, {'label': 'Agence :', 'attr': { class: 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-md-5 mb-3">
                            <div class="form-group">
                                {{ form_row(vehiculeForm.categorieId, {'label': 'Catégorie :', 'attr': { class: 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-md-5 mb-3">
                            <div class="form-group">
                                {{ form_row(vehiculeForm.carburantId, {'label': 'Carburant :', 'attr': { class: 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-md-5 mb-3">
                            <div class="form-group">
                                {{ form_row(vehiculeForm.marque, {'label': 'Libellé :', 'attr': { class: 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-md-5 mb-3">
                            <div class="form-group">
                                {{ form_row(vehiculeForm.modele, {'label': 'Libellé :', 'attr': { class: 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-md-5 mb-3">
                            <div class="form-group">
                                {{ form_row(vehiculeForm.immatriculation, {'label': 'Immatriculation :', 'attr': { class: 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-md-5 mb-3">
                            <div class="form-group">
                                {{ form_row(vehiculeForm.couleur, {'label': 'Couleur :', 'attr': { class: 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-md-5 mb-3">
                            <div class="form-group">
                                {{ form_row(vehiculeForm.volumeReservoir, {'label': 'Volume du réservoir :', 'attr': { class: 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-md-5 mb-3">
                            <div class="form-group">
                                {{ form_row(vehiculeForm.photo, {'label': 'Url photo :', 'attr': { class: 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-md-5 mb-3">
                            <div class="form-group">
                                {{ form_row(vehiculeForm.dateAchat, {'label': 'Date d\'achat :', 'attr': { class: 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <div class="form-group">
                                {{ form_row(vehiculeForm.dateVente, {'label': 'Date de vente : :', 'attr': {class: 'form-control'}}) }}
                            </div>
                        </div>


                    </div>
                </div>
                <div class="row">
                    {% if editMode %}
                        <p>Ce véhicule a été créé par {{ vehicule.createdBy }}, le {{ vehicule.createdAt | format_datetime('short', 'short', locale='fr') }}</p>
                    {% endif %}
                    <div class="form-group m-3">
                        <button type="submit" class="btn btn-warning">
                            {% if editMode %}
                                Enregistrer les modifications
                            {% else %}
                                Ajouter le véhicule
                            {% endif %}
                        </button>
                    </div>
                </div>
                {{ form_end(vehiculeForm) }}
            </div>
        </div>
    </div>
{% endblock %}

