{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Gestion Tarifs
{% endblock %}

{% block body %}
    <div class="container-md">
        <div class="row">
            <div class="col-md-10">

                <h1>Tarifs</h1>
                {{ form_start(tarifForm) }}
                <div class="controls">
                    <div class="row">
                        <div class="col-md-5 mb-3">
                            <div class="form-group">
                                {{ form_row(tarifForm.categorieId, {'label': 'Catégorie de vehicule :', 'attr': { class: 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <div class="form-group">
                                {{ form_row(tarifForm.caution, {'label': 'Montant caution :', 'attr': {class: 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <div class="form-group">
                                {{ form_row(tarifForm.assurance, {'label': 'Prix assurance journalier :', 'attr': {class: 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <div class="form-group">
                                {{ form_row(tarifForm.journee, {'label': 'Prix journalier :', 'attr': {class: 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <div class="form-group">
                                {{ form_row(tarifForm.weekend, {'label': 'Prix formule Week-End :', 'attr': {class: 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <div class="form-group">
                                {{ form_row(tarifForm.kilometre, {'label': 'Prix du kilomètre :', 'attr': {class: 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <div class="form-group">
                                {{ form_row(tarifForm.remise, {'label': 'Montant remise +3j :', 'attr': {class: 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <div class="form-group">
                                {{ form_row(tarifForm.dateDebut, {'label': 'Date de début :', 'attr': {class: 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <div class="form-group">
                                {{ form_row(tarifForm.dateFin, {'label': 'Date de fin :', 'attr': {class: 'form-control'}}) }}
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="form-group m-3">
                        <button type="submit" class="btn btn-warning">
                            Ajouter la grille de tarif
                        </button>
                    </div>
                </div>
                {{ form_end(tarifForm) }}
            </div>
        </div>
    </div>
{% endblock %}

