{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Administrateur{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Administration</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-3 m-1">
                <div class="card">
                    <div class="card-body">
                        <div class="card-header">
                            Gestion des utilisateurs
                        </div>
                        <h6 class="card-subtitle my-2 text-muted">Résumé :</h6>
                        <p class="card-text">Vous avez {{ users | length }} utilisateurs</p>
                        <a href="{{ path('admin_users') }}" class="card-link">Utilisateurs</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 m-1">
                <div class="card">
                    <div class="card-body">
                        <div class="card-header">
                            Gestion des locations
                        </div>
                        <h6 class="card-subtitle my-2 text-muted">Résumé :</h6>
                        <p class="card-text">Vous avez {{ locations | length }} locations</p>
                        <a href="{{ path('admin_locations') }}" class="card-link">Locations</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 m-1">
                <div class="card">
                    <div class="card-body">
                        <div class="card-header">
                            Gestion des véhicules
                        </div>
                        <h6 class="card-subtitle my-2 text-muted">Résumé :</h6>
                        <p class="card-text">Vous avez {{ vehicules | length }} véhicules</p>
                        <p class="card-text">Vous avez {{ categories | length }} catégories de véhicule</p>
                        <p class="card-text">Vous avez {{ types | length }} types de véhicule</p>
                        <a href="{{ path('admin_vehicules') }}" class="card-link">Véhicules</a>
                        <a href="{{ path('admin_categories') }}" class="card-link">Catégories</a>
                        <a href="{{ path('admin_types') }}" class="card-link">Types</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 m-1">
                <div class="card">
                    <div class="card-body">
                        <div class="card-header">
                            Gestion des tarifs
                        </div>
                        <h6 class="card-subtitle my-2 text-muted">Résumé :</h6>
                        <p class="card-text">Vous avez {{ tarifs | length }} grilles de tarif</p>
                        <p class="card-text">Vous avez {{ carburants | length }} types de carburant</p>
                        <a href="{{ path('admin_tarifs') }}" class="card-link">Tarifs</a>
                        <a href="{{ path('admin_carburants') }}" class="card-link">Carburants</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
