{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Gestion locations
{% endblock %}

{% block body %}
    <h1>Gestions des locations</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a href="{{ path('admin_location_create') }}" class="btn btn-warning mb-3">Créer une nouvelle location</a>
            </div>
        </div>
        <div class="row">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Modèle</th>
                    <th scope="col">Immatriculation</th>
                    <th scope="col">Date et heure Début Prévu</th>
                    <th scope="col">Date et heure Fin Prévu</th>
                    <th scope="col">Type de location</th>
                    <th scope="col">Assurance</th>
                    <th scope="col">Créé le</th>
                    <th scope="col">Créé par</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for location in locations %}
                    <tr>
                        <th scope="row">{{ location.id }}</th>
                        <td>{{ location.userId.nom }}</td>
                        <td>{{ location.userId.prenom }}</td>
                        <td>{{ location.vehiculeId.modele }}</td>
                        <td>{{ location.vehiculeId.immatriculation | upper }}</td>
                        <td>{{ location.dateDebutLocPrev | format_datetime('short', 'short', locale='fr') }}</td>
                        <td>{{ location.dateFinLocPrev | format_datetime('short', 'short', locale='fr') }}</td>
                        <td>{{ location.typeLoc}}</td>
                        <td>{{ location.assurance }}</td>
                        <td>{{ location.createdAt | format_datetime('short', 'short', locale='fr') }}</td>
                        <td>{{ location.createdBy }}</td>
                        <td><a href="{{ path('admin_location_edit', {'id' : location.id}) }}"><i class="bi bi-pencil-fill"></i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

