{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Gestion tarifs
{% endblock %}

{% block body %}
    <h1>Gestions des tarifs</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a href="{{ path('admin_tarif_create') }}" class="btn btn-warning mb-3">Créer un nouveau tarif</a>
            </div>
        </div>
        <div class="row">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Type</th>
                    <th scope="col">Catégorie</th>
                    <th scope="col">Prix journalier</th>
                    <th scope="col">Prix formule Week-End</th>
                    <th scope="col">Prix du kilomètre</th>
                    <th scope="col">Montant caution</th>
                    <th scope="col">Prix assurance journalier</th>
                    <th scope="col">Date début</th>
                    <th scope="col">Date fin</th>
                    <th scope="col">Créé le</th>
                    <th scope="col">Créé par</th>
                </tr>
                </thead>
                <tbody>
                {% for tarif in tarifs %}
                    <tr>
                        <th scope="row">{{ tarif.id }}</th>
                        <td>{{ tarif.categorieId.typeId.libelle }}</td>
                        <td>{{ tarif.categorieId.libelle}}</td>
                        <td>{{ tarif.journee }}€</td>
                        <td>{{ tarif.weekend }}€</td>
                        <td>{{ tarif.kilometre }}€</td>
                        <td>{{ tarif.caution }}€</td>
                        <td>{{ tarif.assurance }}€</td>
                        <td>{{ tarif.dateDebut | format_datetime('short', 'none', locale='fr') }}</td>
                        <td>{{ tarif.dateFin | format_datetime('short', 'none', locale='fr') }}</td>
                        <td>{{ tarif.createdAt | format_datetime('short', 'short', locale='fr') }}</td>
                        <td>{{ tarif.createdBy }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

