{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Gestion types
{% endblock %}

{% block body %}
    <h1>Gestions des types de véhicule</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a href="{{ path('admin_type_create') }}" class="btn btn-warning mb-3">Créer un nouveau type</a>
            </div>
        </div>
        <div class="row">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Libellé</th>
                    <th scope="col">Créé le</th>
                    <th scope="col">Créé par</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for type in types %}
                    <tr>
                        <th scope="row">{{ type.id }}</th>
                        <td>{{ type.libelle }}</td>
                        <td>{{ type.createdAt | format_datetime('short', 'short', locale='fr') }}</td>
                        <td>{{ type.createdBy }}</td>
                        <td><a href="{{ path('admin_type_edit', {'id' : type.id}) }}"><i class="bi bi-pencil-fill"></i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

