{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Gestion utilisateurs
{% endblock %}

{% block body %}
    <h1>Gestions des utilisateurs</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a href="{{ path('admin_user_create') }}" class="btn btn-warning mb-3">Créer un nouvel utilisateur</a>
            </div>
        </div>
        <div class="row">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Email</th>
                    <th scope="col">Créé le</th>
                    <th scope="col">Créé par</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <th scope="row">{{ user.id }}</th>
                        <td>{{ user.prenom }}</td>
                        <td>{{ user.nom }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.createdAt | format_datetime('short', 'short', locale='fr') }}</td>
                        <td>{{ user.createdBy }}</td>
                        <td>
                            <a href="{{ path('admin_user_edit', {'id' : user.id}) }}"><i class="bi bi-pencil-fill"></i></a>
                            <a href="{{ path('admin_users_histo', {'id' : user.id}) }}"><i class="bi bi-journal-bookmark-fill"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}



