{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Historique location
{% endblock %}

{% block body %}
    <h1>Historique des locations de {{ user.civilite }} {{ user.prenom }} {{ user.nom }}</h1>
    <div class="container">
        <div class="row">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Marque</th>
                    <th scope="col">Modèle</th>
                    <th scope="col">Immatriculation</th>
                    <th scope="col">Date et heure Début Prévu</th>
                    <th scope="col">Date et heure Fin Prévu</th>
                    <th scope="col">Type de location</th>
                    <th scope="col">Assurance</th>
                    <th scope="col">Créé le</th>
                    <th scope="col">Créé par</th>
                </tr>
                </thead>
                <tbody>
                {% for location in user.locations %}
                    <tr>
                        <th scope="row">{{ location.id }}</th>
                        <td>{{ location.vehiculeId.marque }}</td>
                        <td>{{ location.vehiculeId.modele }}</td>
                        <td>{{ location.vehiculeId.immatriculation | upper }}</td>
                        <td>{{ location.dateDebutLocPrev | format_datetime('short', 'short', locale='fr') }}</td>
                        <td>{{ location.dateFinLocPrev | format_datetime('short', 'short', locale='fr') }}</td>
                        <td>{{ location.typeLoc }}</td>
                        <td>{{ location.assurance }}</td>
                        <td>{{ location.createdAt | format_datetime('short', 'short', locale='fr') }}</td>
                        <td>{{ location.createdBy }}</td>
                        <td><a href="{{ path('admin_user_edit', {'id' : user.id}) }}"><i class="bi bi-file-earmark-pdf"></i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

