{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Historique location
{% endblock %}

{% block body %}
    <h1>Historique des locations de {{ vehicule.marque }} {{ vehicule.modele }} {{ vehicule.immatriculation }}</h1>
    <div class="container">
        <div class="row">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Date et heure Début Prévu</th>
                    <th scope="col">Date et heure Fin Prévu</th>
                    <th scope="col">Type de location</th>
                    <th scope="col">Assurance</th>
                    <th scope="col">Créé le</th>
                    <th scope="col">Créé par</th>
                </tr>
                </thead>
                <tbody>
                {% for location in vehicule.locations %}
                    <tr>
                        <th scope="row">{{ location.id }}</th>
                        <td>{{ location.userId.nom }}</td>
                        <td>{{ location.userId.prenom }}</td>
                        <td>{{ location.dateDebutLocPrev | format_datetime('short', 'short', locale='fr') }}</td>
                        <td>{{ location.dateFinLocPrev | format_datetime('short', 'short', locale='fr') }}</td>
                        <td>{{ location.typeLoc }}</td>
                        <td>{{ location.assurance }}</td>
                        <td>{{ location.createdAt | format_datetime('short', 'short', locale='fr') }}</td>
                        <td>{{ location.createdBy }}</td>
                        {% if location.dateFinLocReel %}
                        <td><a href="{{ path('admin_vehicules_histo', {'id' : vehicule.id}) }}"><i class="bi bi-file-earmark-pdf"></i></a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

