{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Gestion véhicules
{% endblock %}

{% block body %}
    <h1>Gestions des véhicules</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a href="{{ path('admin_vehicule_create') }}" class="btn btn-warning mb-3">Créer un nouveau véhicule</a>
            </div>
        </div>
        <div class="row">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Marque</th>
                    <th scope="col">Modèle</th>
                    <th scope="col">Immatriculation</th>
                    <th scope="col">Créé le</th>
                    <th scope="col">Créé par</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for vehicule in vehicules %}
                    <tr>
                        <th scope="row">{{ vehicule.id }}</th>
                        <td>{{ vehicule.marque }}</td>
                        <td>{{ vehicule.modele }}</td>
                        <td>{{ vehicule.immatriculation | upper }}</td>
                        <td>{{ vehicule.createdAt | format_datetime('short', 'short', locale='fr') }}</td>
                        <td>{{ vehicule.createdBy }}</td>
                        <td>
                            <a href="{{ path('admin_vehicule_edit', {'id' : vehicule.id}) }}"><i class="bi bi-pencil-fill"></i></a>
                            <a href="{{ path('admin_vehicules_histo', {'id' : vehicule.id}) }}"><i class="bi bi-journal-bookmark-fill"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}



