{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Agence {% endblock %}

{% block body %}
<h1>Trouver votre agence LocAuto</h1>
    <div class="map-container text-center">
        <iframe src="https://maps.google.com/maps?q=11+Rue+de+Serre,+54000+Nancy&t=&z=15&ie=UTF8&iwloc=&output=embed" allowfullscreen></iframe>
    </div>
{% endblock %}
