{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Mon compte {% endblock %}

{% block body %}
    <h2>Mon compte</h2>
    <div class="container">
        <div class="row">
            <div class="card text-center col-md-5 m-1">
                <div class="card-header">
                    MES INFORMATIONS PERSONNELLES
                </div>
                <div class="card-body">
                    <p class="card-text">{{ app.user.civilite }} {{ app.user.prenom }} {{ app.user.nom }}</p>
                    <p class="card-text">{{ app.user.email }}</p>
                    <a href="{{ path('modification') }}" class="btn btn-outline-warning">Modifier</a>
                </div>
                <div class="card-footer text-muted">
                    Vous êtes client depuis le {{ app.user.createdAt | date("d/m/Y")}}
                </div>
            </div>
            <div class="card text-center col-md-5 m-1">
                <div class="card-header">
                    MES LOCATIONS
                </div>
                <div class="card-body">
                    {% for location in app.user.locations [-1:] %}

                        <p class="card-text">Votre dernière location :</p>
                        <p class="card-text">{{ location.createdAt | date("d/m/Y") }} {{ location.vehiculeId.marque }} {{ location.vehiculeId.modele }}</p>

                    {% endfor %}
                    <p class="card-text">Vous avez effectué {{ app.user.locations | length }} locations.</p>
                    <a href="{{ path('historique') }}" class="btn btn-outline-warning">Voir tout</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}