{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Historique locations
{% endblock %}

{% block body %}
    <h1>Historique de mes locations</h1>
    <div class="container">
        <div class="row">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Marque</th>
                    <th scope="col">Modèle</th>
                    <th scope="col">Immatriculation</th>
                    <th scope="col">Date et heure Début Prévu</th>
                    <th scope="col">Date et heure Fin Prévu</th>
                    <th scope="col">Type de location</th>
                    <th scope="col">Assurance</th>
                    <th scope="col">Date et heure Début Réel</th>
                    <th scope="col">Date et heure Fin Réel</th>
                    <th scope="col">Créé le</th>
                </tr>
                </thead>
                <tbody>
                {% for location in app.user.locations %}
                    <tr>
                        <th scope="row">{{ location.id }}</th>
                        <td>{{ location.vehiculeId.marque }}</td>
                        <td>{{ location.vehiculeId.modele }}</td>
                        <td>{{ location.vehiculeId.immatriculation | upper }}</td>
                        <td>{{ location.dateDebutLocPrev | format_datetime('short', 'short', locale='fr') }}</td>
                        <td>{{ location.dateFinLocPrev | format_datetime('short', 'short', locale='fr') }}</td>
                        <td>{{ location.typeLoc}}</td>
                        <td>{{ location.assurance }}</td>
                        <td>{{ location.dateDebutLocReel | format_datetime('short', 'short', locale='fr') }}</td>
                        <td>{{ location.dateFinLocReel | format_datetime('short', 'short', locale='fr') }}</td>
                        <td>{{ location.createdAt | format_datetime('short', 'short', locale='fr') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}



