{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Accueil {% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <!--Occupe 10 colonnes-->
            <div class="col-lg-10">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="journee-tab" data-bs-toggle="tab" data-bs-target="#journee"
                                type="button" role="tab" aria-controls="journee" aria-selected="true">Location à la
                            journée
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="weekend-tab" data-bs-toggle="tab" data-bs-target="#weekend"
                                type="button" role="tab" aria-controls="weekend" aria-selected="false">Forfait Week-end
                        </button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="journee" role="tabpanel" aria-labelledby="journee-tab">
                        <h3>Louez une voiture le temps dont vous avez besoin</h3>
                        {{ form_start(locJourneeForm) }}
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <div class="form-group">
                                        <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                                            {{ form_row(locJourneeForm.dateDebutLocPrev) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <div class="form-group">
                                        <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                                            {{ form_row(locJourneeForm.dateFinLocPrev) }}

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <div class="form-group">
                                        {{ form_row(locJourneeForm.assurance, { 'label': 'Je souscrit à l\'assurance Tous Risques :', 'attr': { class: 'form-check'}}) }}
                                    </div>
                                </div>
                                <script type="text/javascript">
                                    $(function () {
                                        $('#datetimepicker1').datetimepicker({
                                            locale: 'fr',
                                            enabledHours: [9, 10, 11, 12, 13, 14, 15, 16, 17, 18],
                                            icons: {
                                                time: "bi bi-clock",
                                                date: "bi bi-calendar4-week",
                                            },
                                            stepping: 15,
                                            minDate: moment()
                                        });
                                        $('#datetimepicker2').datetimepicker({
                                            locale: 'fr',
                                            useCurrent: false,
                                            enabledHours: [9, 10, 11, 12, 13, 14, 15, 16, 17, 18],
                                            icons: {
                                                time: "bi bi-clock",
                                                date: "bi bi-calendar4-week",
                                            },
                                            stepping: 15
                                        });
                                        $("#datetimepicker1").on("change.datetimepicker", function (e) {
                                            $('#datetimepicker2').datetimepicker('minDate', e.date);
                                        });
                                        $("#datetimepicker2").on("change.datetimepicker", function (e) {
                                            $('#datetimepicker1').datetimepicker('maxDate', e.date);
                                        });
                                    });
                                </script>
                                <div class="row" id="vehicule">
                                    {% block journee_form_widget %}
                                        {% for child in locJourneeForm.vehiculeId %}
                                            {% for choice in child.parent.vars.choices %}
                                                {% if choice.value == child.vars.value %}
                                                    <div class="col-md-4">
                                                        <div class="card m-2">
                                                            <div class="card-header fs-4 fw-bold">{{ choice.data.marque }} {{ choice.data.modele }}</div>
                                                            <img src="{{ choice.data.photo }}" class="card-img-top"
                                                                 alt="Image vehicule">
                                                            <div class="card-body">
                                                                <p class="card-text fs-5">{{ choice.data.categorieId.typeId.libelle }} {{ choice.data.categorieId.libelle }}</p>
                                                                {% for tarif in choice.data.categorieId.tarifs %}
                                                                    <p class="card-text fw-bold">Tarifs :</p>
                                                                    <p class="card-text fs-6">- {{ tarif.journee }}€ par
                                                                        Jour + {{ tarif.kilometre }}€ par Km </p>
                                                                    <p class="card-text">- Une remise
                                                                        de {{ tarif.remise }}% est appliquée pour une
                                                                        location de 3
                                                                        Jours ou plus.</p>
                                                                    <p class="card-text">- Assurance
                                                                        : {{ tarif.assurance }}€ par Jour</p>
                                                                    <p class="card-text">- Caution : {{ tarif.caution }}
                                                                        €</p>
                                                                {% endfor %}
                                                                <p class="card-text">Je choisi ce véhicule
                                                                    : {{ form_widget(child) }}</p>

                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}

                                        {% endfor %}
                                    {% endblock %}
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6 m-1">
                                    <input type="submit" class="btn btn-warning">
                                </div>
                            </div>
                        </div>
                        {{ form_end(locJourneeForm) }}
                        <script>
                            var $dateDebut = $('#dateDebut');
                            var $dateFin = $('#dateFin');

                        </script>
                    </div>
                    <div class="tab-pane fade" id="weekend" role="tabpanel" aria-labelledby="weekend-tab">
                        <h3>Parfait pour une petite virée le temps d'un Week-End</h3>
                        {{ form_start(locWEForm) }}
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <div class="form-group">
                                        <div class="input-group date" id="datetimepicker3" data-target-input="nearest">
                                            {{ form_row(locWEForm.dateDebutLocPrev) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <div class="form-group">
                                        <div class="input-group date" id="datetimepicker4" data-target-input="nearest">
                                            {{ form_row(locWEForm.dateFinLocPrev) }}

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <div class="form-group">
                                        {{ form_row(locWEForm.assurance, { 'label': 'Je souscrit à l\'assurance Tous Risques :', 'attr': { class: 'form-check'}}) }}
                                    </div>
                                </div>
                                <script type="text/javascript">

                                    $(function () {
                                        $('#datetimepicker3').datetimepicker({
                                            locale: 'fr',
                                            useCurrent: false,
                                            icons: {
                                                time: "bi bi-clock",
                                                date: "bi bi-calendar4-week",
                                            },
                                            format: 'L',
                                            daysOfWeekDisabled: [1, 2, 3, 4],
                                            enabledHours: [9, 10, 11, 12, 13, 14, 15, 16, 17, 18],
                                            stepping: 15,
                                            minDate: moment()
                                        });
                                        $('#datetimepicker4').datetimepicker({
                                            locale: 'fr',
                                            useCurrent: false,
                                            icons: {
                                                time: "bi bi-clock",
                                                date: "bi bi-calendar4-week",
                                            },
                                            format: 'L',
                                            daysOfWeekDisabled: [1, 2, 3, 4],
                                            enabledHours: [9, 10, 11, 12, 13, 14, 15, 16, 17, 18],
                                            stepping: 15
                                        });
                                        $("#datetimepicker3").on("change.datetimepicker", function (e) {
                                            $('#datetimepicker4').datetimepicker('minDate', e.date);
                                        });
                                        $("#datetimepicker4").on("change.datetimepicker", function (e) {
                                            $('#datetimepicker3').datetimepicker('maxDate', e.date);
                                        });
                                    });
                                </script>

                                {% block WE_form_widget %}
                                    {% for child in locWEForm.vehiculeId %}
                                        {% for choice in child.parent.vars.choices %}
                                            {% if choice.value == child.vars.value %}
                                                <div class="col-md-4">
                                                    <div class="card m-2">
                                                        <div class="card-header fs-4 fw-bold">{{ choice.data.marque }} {{ choice.data.modele }}</div>
                                                        <img src="{{ choice.data.photo }}" class="card-img-top"
                                                             alt="Image vehicule">
                                                        <div class="card-body">
                                                            <p class="card-text fs-5">{{ choice.data.categorieId.typeId.libelle }} {{ choice.data.categorieId.libelle }}</p>
                                                            {% for tarif in choice.data.categorieId.tarifs %}
                                                                <p class="card-text fw-bold">Tarifs :</p>
                                                                <p class="card-text fs-6">- {{ tarif.weekend }}€ pour le
                                                                    Week-End avec 1000Km compris dans la formule,
                                                                    au-delà {{ tarif.kilometre }}€ par Km
                                                                    supplémentaires. </p>
                                                                <p class="card-text fs-6">- Assurance
                                                                    : {{ tarif.assurance }}€ par Jour</p>
                                                                <p class="card-text fs-6">- Caution
                                                                    : {{ tarif.caution }}€</p>
                                                            {% endfor %}
                                                            {{ form_widget(child) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}

                                    {% endfor %}
                                {% endblock %}

                            </div>
                            <div class="row">
                                <div class="col-md-6 m-1">
                                    <input type="submit" class="btn btn-warning">
                                </div>
                            </div>
                        </div>
                        {{ form_end(locWEForm) }}
                    </div>
                </div>
            </div>
            <div class="col-sm-2 border">
                <h3>Météo</h3>
                                <div>
                                    <h4>Aujourd'hui</h4>
                                    <img src="{{ table_meteo_logo[meteo_today.weather] }}" alt="Logo météo">
                                    <p>
                                        {{ table_meteo[meteo_today.weather] }}
                                    </p>
                                    <p>
                                        Il fera entre {{ meteo_today.tmin }} et {{ meteo_today.tmax }}°C.
                                    </p>
                                </div>
                                <div>
                                    <h4>Demain</h4>
                                    <img src="{{ table_meteo_logo[meteo_demain.weather] }}" alt="Logo météo">
                                    <p>
                                        {{ table_meteo[meteo_demain.weather] }}
                                    </p>
                                    <p>
                                        Il fera entre {{ meteo_demain.tmin }} et {{ meteo_demain.tmax }}°C.
                                    </p>
                                </div>
                                <div>
                                    <h4>Après-demain</h4>
                                    <img src="{{ table_meteo_logo[meteo_apdemain.weather] }}" alt="Logo météo">
                                    <p>
                                        {{ table_meteo[meteo_apdemain.weather] }}
                                    </p>
                                    <p>
                                        Il fera entre {{ meteo_apdemain.tmin }} et {{ meteo_apdemain.tmax }}°C.
                                    </p>
                                </div>
                                <span>Station : {{ station.name }}</span>
            </div>
        </div>
    </div>
{% endblock %}
