<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Facture</title>
</head>

<body>
<h1>Bonjour! </h1>

<p>
    Vous trouverez en pièce jointe votre facture.
    A bientôt.
</p>

<p>
    Cordialement,
    L'équipe LocAuto
</p>

</body>

</html>