<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Reservation</title>
</head>

<body>
<h1>Bonjour! Merci pour votre reservation!</h1>

<p>
    Vous trouverez en pièce jointe votre confirmation de reservation.

</p>

<p>
    Cordialement,
    L'équipe LocAuto
</p>

</body>

</html>