<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Facture</title>
</head>

<body>
<div>
    <img src="{{ asset('assets/images/logo.png') }}" alt="Logo">
    {{ louer.vehiculeId.agenceId.nom }}
    {{ louer.vehiculeId.agenceId.adresse }}
    {{ louer.vehiculeId.agenceId.codePostal }} {{ louer.vehiculeId.agenceId.ville }}
    {{ louer.vehiculeId.agenceId.telephone }}
</div>
<div>
    {{ louer.userId.civilite }} {{ louer.userId.nom }} {{ louer.userId.prenom }}
    {{ louer.userId.adresse }}
    {{ louer.userId.codePostal }} {{ louer.userId.ville }}
</div>
<div>
    <h2>Facture n°{{ louer.id }}-{{ louer.userId }}-{{ louer.vehiculeId }}-{{ louer.createdAt | date("d/m/Y") }}</h2>
</div>
<div>
    ----------------------------------------------------------
</div>
{% for tarif in louer.vehiculeId.categorieId.tarifs %}
    <div>
        <span>
            Location vehicule {{ louer.vehiculeId.categorieId.typeId.libelle }} {{ louer.vehiculeId.categorieId.libelle }} pendant {{ dureeLoc }} jours en formule {% if louer.typeLoc == 1 %} Journée {% elseif louer.typeLoc == 2 %} Week-End {% endif %} :  {{ factLoc }}€.
        </span>
        <span>
            Nombre de kilometre : {{ distanceLoc }}Km : {{ factKm }}€ .
        </span>
        <span>
            Assurance : {{ factAssur }}€.
        </span>
        <span>
            Carburant : {{ factCarbu }}€.
        </span>
        <span>
            {% if louer.montantRetenuCaution %} Retenue sur caution : {{ factCaution }}€ pour {{ louer.raisonRetenuCaution }}.{% endif %}
        </span>
        <span>
            Total : {{ factLoc + factKm + factAssur + factCarbu + factCaution }}€.
        </span>
    </div>
{% endfor %}
</body>

</html>

