<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Reservation</title>
</head>

<body>
<div>
    <img src="{{ asset('assets/images/logo.png') }}" alt="Logo">
    {{ louer.vehiculeId.agenceId.nom }}
    {{ louer.vehiculeId.agenceId.adresse }}
    {{ louer.vehiculeId.agenceId.codePostal }} {{ louer.vehiculeId.agenceId.ville }}
    {{ louer.vehiculeId.agenceId.telephone }}
</div>
<div>
    {{ louer.userId.civilite }} {{ louer.userId.nom }} {{ louer.userId.prenom }}
    {{ louer.userId.adresse }}
    {{ louer.userId.codePostal }} {{ louer.userId.ville }}
</div>
<div>
    <h2>Reservation n°{{ louer.id }}-{{ louer.userId }}-{{ louer.vehiculeId }}-{{ louer.createdAt | date("d/m/Y") }}</h2>
</div>
<div>
    Vous avez reservé une {{ louer.vehiculeId.marque }} {{ louer.vehiculeId.modele }} à partir du {{ louer.dateDebutLocPrev | date("d/m/Y") }} jusqu'au {{ louer.dateFinLocPrev | date("d/m/Y") }}.
</div>

</body>

</html>