{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Vehicules {% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h1>Choisissez votre véhicule : des véhicules de choix !</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-10">
                <img src="{{ asset('assets/images/voiture_bandeau.jpg') }}" alt="Voiture dans le paysage"
                     class="img-fluid" id="voiturepaysage">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <p>
                    Chez LocAuto, nous vous proposons à nos clients la possibilité de réserver une location de voiture adaptée à
                    leur budget et leurs besoins. Nous avons sélectionné plusieurs modèles de véhicules de tourisme pour des
                    déplacements sur les routes seul, en couple, en famille ou avec un groupe d’amis.
                </p>
                <p>
                    La location de voiture avec LocAuto est simple et économique. Nos voitures à louer sont regroupées par
                    catégories et disponibles dans notre agence de location quand vous en avez besoin.
                </p>
                <p>
                    Notre parc est renouvelé régulièrement. Nous vous assurons ainsi la location d’une voiture proposant un état de
                    fiabilité maximum pour prendre la route en toute sécurité, en été comme en hiver.
                </p>
            </div>
        </div>
        <div id="">
        <div class="row justify-content-center bg-light align-content-between">
            <div class="col-md-10" id="cardcustom">
                <div class="card">
                    <h5 class="card-header">Voiture Eco</h5>
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center bg-light align-content-between">
            <div class="col-md-10" id="cardcustom">
                <div class="card">
                    <h5 class="card-header">Voiture Confort</h5>
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center bg-light align-content-between">
            <div class="col-md-10" id="cardcustom">
                <div class="card">
                    <h5 class="card-header">Voiture Prestige</h5>
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>


{% endblock %}